

header
{
	text-align: center

	} 


body
{
font-family: helvetica;
color: #488781;
background: #e2e2e2;
text-align:center;
max-width:800px;
margin-left:auto;
margin-right:auto;
width:70%;
padding-top: 25px;
}


footer
{
text-align: center;
}

main
{
font-size:12pt;
text-align:center;
max-width:800px; 
word-wrap:break-word; 
line-height:23px; 
padding-top: 5px; 
padding-bottom: 25px; 
color:#488781; 
display: inline-block; 
text-decoration:none

}

figcaption 
{
font-size:80%;
color:#939598;
font-style:italic;
}

ul {
text-align: justify; 
list-style:inside
}


p {
text-align: justify; 
list-style:inside
}

a {
text-decoration:none;
color:#e06972;
}

#topic {
padding-bottom:25px;
}

#tilde
{
padding-top:25px;
display:block;
margin-left: auto;
margin-right: auto;
}

#tagline
{
text-align:center;
font-size:80%;
color: #939598;
}
